@import 'utilities.css';
:root{
    --text: #f2ecf3;
    --background: #080408;
    --primary: #d19dd7;
    --secondary: #6f2677;
    --accent: #c442d1;  

    --linearPrimarySecondary: linear-gradient(#d19dd7, #6f2677);
--linearPrimaryAccent: linear-gradient(#d19dd7, #c442d1);
--linearSecondaryAccent: linear-gradient(#6f2677, #c442d1);
--radialPrimarySecondary: radial-gradient(#d19dd7, #6f2677);
--radialPrimaryAccent: radial-gradient(#d19dd7, #c442d1);
--radialSecondaryAccent: radial-gradient(#6f2677, #c442d1);

}
@import url('https://fonts.googleapis.com/css?family=Irish%20Grover:700|Irish%20Grover:400');

body {
  font-family: 'Irish Grover';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Irish Grover';
  font-weight: 700;
}




body{
    padding: 100;
    height: 100vh;
    background-color:   var(--background);
    margin: 0;
    color:var(--text);
    

    
    

}

header{
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
    font-size: bold;
   
}
.navbar{
    display: flex;
    max-width: 1550px;
    justify-content: space-between;
    align-items: end;
    height: 100px;
    width: 100%;
    font-size: bold;
    margin-top: 15px;
    font-size: 10px;
}
.navbar h1{
    align-items: center;

}
.logo-icon{
    width: 50px;
    display: flex;
    align-items: end;
    margin-left: 0px;
    
}
.logo-icon img {
    height: 80px;
}
 ul {
    display: flex;
    margin-left: 0px;
}
 ul li{
    list-style: none;
    margin-left: 60px;
    
  
}
 .navbar ul li a{
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
    font-size: bold;
    font-size: large;
    
    
    
}
 ul li a:hover{
    text-decoration: underline;
    transition: all 2s ease-in-out;
}
.navbar .toggle-btn{
    display: none;
    cursor: pointer;
    font-size: xx-large;
    margin-right: 10px;
    margin-top: 23px;
}

.search-bar{
    border-radius: 25px;
    border-right: 0;
    padding: 10px;
    font-size: 17px;
    border: 0;
    background: transparent;
    font-family: 'Courier New', Courier, monospace;

}
.search-bar:focus{
    border: 0;
    border-color: white;
    border-radius: 35px;
    box-shadow: none;
    outline: none;


}

.dropdown-link{
    position: absolute;
    height: 300px;
    right: 4rem;
    top: 150px;
    width: 300px;
    background-color: hsl(0 0% 100% / 0.1);
    backdrop-filter:  blur(15px);
    z-index: 999;
    overflow: hidden;
    display: none;
    background: t;
    border-radius: 10px;
    align-items: right;
    
} 
.dropdown-link li{
    padding: 0.7rem;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    list-style: none;
    color: var(--text);
    font-size: large;
}
.dropdown-link li a{
    text-decoration: none;
    color: var(--text);
    margin-top: 30px;
    transition: all .7s ease-in-out;

}



@media (max-width: 992px){
    .navbar .list {
        display: none;
    }
    .navbar .toggle-btn{
        display: block;
        margin-bottom: 10px;

    }
    .dropdown-link{
        display: none;
    }
    .search{
        display: flex;
        height: 40px;
        margin-left: 50px;
        margin-bottom: 10px;
    }

    
}






.search{
    display: flex;
    height: 40px;
}
.search-icon{
    
    cursor: pointer;
    border-radius: 6px;
    margin-right: 10px;
    border: none;
    float: left;
    width: 20%;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
    color: black;
    background-color: transparent;
}
.cart{
    cursor: pointer;
}
.search-1{
    display: flex;
    background-color: aliceblue;
    border-radius: 20px;

}
.cart-pro{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    margin-left: 18px;
    font-size: xx-large;
    align-items: center;
    margin-bottom: 10px;

}
.cart{
    margin-right: 15px;
}

.about  h1{
    font-family: 'Irish Grover';
    font-size: 70px;
    margin-bottom: 30px;
    color: var(--secondary);
}
.about {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    height: 70vh;
    
}

.about p{
    margin-top: 1px;
}
.about button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--primary);
    outline: none;
    border: 0;
    box-shadow: #0000002b 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.about button a{
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

   
}
.about .scrol-img{
    margin-top: 40px;
    display: flex;
    
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.about  img{
    width: 150px;
    border-radius: 30px;
    height: 300px;
    
    
}

.about .container1{
    display: flex;
    width: 500px;
    background-color: var(--primary);
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 30px;
    height: 70px;
    margin-top: 18rem;
    position: relative;
    color: var(--background);
    margin-left: 550px;
}
.container1 p{
    margin: 0;

}
.container1 .bold{
    font-size: 20px;
    font-weight: bolder;
}

 .services{
    height: 900px;
   background: var(--text);
     }
     .services-head{
     
     text-align: center;
     margin-top: 2rem;
     margin-bottom: 0.2rem;
     line-height: 10.5rem;
     color: var(--secondary);
     }
     .services-head + p{
     color: var(--background);
     font-family: 'Lato', sans-serif;
     margin-top: 0.5rem;
     text-align: center;
     justify-content: center;
     align-items: center;
     margin-bottom: 1rem;
     font-weight: 400;
     width: 700px;
     margin-left: 28rem;
     }
     .card i{
     width: 50px;
     margin-bottom: 0.5rem;
     
     }
     section.services .card-grid{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     column-gap: 2rem;
     row-gap: 2rem;
     padding-left: 60px;
     padding-right: 60px;
     }
     section.services .card-grid .card{
     background: var(--text);
     
     height: 250px;
     width: 300px;
     border-radius: 10px;
     text-align: left;
     transition: all .2s ease;
     border: 2px solid #c442d1;
     
     }
     section.services .card-grid .card img{
    margin-bottom: 0;
    height: 200px;
    border-radius: 10px;
     }
  
     section.services .card-grid .card p{
     font-family: 'Lato', sans-serif;
     color: var(--background);
     margin-top: 0;
     align-items: left;
     justify-content: left;
     text-align: left;
     padding: 0;
     
     }
     section.services .card-grid .card:hover{
     
     }
     section.services .card-grid .card:hover h2{
     
     }
     section.services .card-grid .card:hover p{
     
     }


     .about2{
        padding: 3rem;
        }
        .about2 h1{
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 600;
        }
        section.about2 h1 span{
        color: var(--primary);
        }
        section.about h3{
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: 600;
        }
        section.about2 p{
        font-family: 'Lato', sans-serif;
        color: var(--text);
        line-height: 1.9rem;
        margin-bottom: 1rem;
        }
        .left img{
            height:400px ;
             width:700px;
             border-radius: 20px;
        }
        .flex-1{
            flex: 1;
            }
           .about2 .right{
            height: 500px;
            width:800px;
            text-align: left;
            background-color: hsl(0 0% 100% / 0.1);
    backdrop-filter:  blur(15px);
    z-index: 999;
    border-radius: 30px;
    padding-left: 1rem;

            }
            .about2 .container{
                display: flex;
                background-color: transparent;
            }

            main{
                padding: 200px;
            }
          

           .upgrade{
            background-color: #d19dd7;
                display: flex;
                column-gap: 2rem;
                align-items: center;
                padding: 70px;
                color: #080408;
                border-radius: 60px;
                height: 80px;
            }
            .improve{
                width: 1000px;
                
            }



            footer{
                display: flex;
                padding: 200px 100px 0;
                font-family: 'Courier New', Courier, monospace;
                bottom: 0;
            }
            table { 
                padding: 30px;
            } 
            td, th, tr, table {
              border: 130px ;
                border-spacing: 30px;
            }
            th {
                text-align: left;
                color: #6f2677;
                font-size: 20px;
          }



